.container {
    max-width: 1000px;
    text-align: center;
    padding: 200px 100px;
    margin: 0 auto;
}

.button-block {
    margin-bottom: 50px;
}

.button-block button {
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    background: #555555;
    border: 1px solid #777777;
    border-radius: 5px;
    padding: 10px 25px;
    cursor: pointer;
    outline: none;
}